.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #fdcae1;
  padding: 0 2rem;
  height: 70px;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
